<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Estudiante</title>
</head>
<body>
<h1>CREAR ESTUDIANTE</h1>
<form th:action="@{/student/create}" th:object="${student}" method="post">
  <p>Nombre: <label>
    <input type="text" th:field="*{name}">
  </label></p>
  <p>Patronus: <label>
    <input type="text" th:field="*{patronus}">
  </label></p>
  <p>Casa: <span th:text="${student.getHouse().getName()}"></span></p>
  <input type="hidden" th:field="*{house.name}" />


  <p>
    <input type="submit" value="Enviar">
    <input type="reset" value="Reiniciar">
  </p>
</form>
</body>
</html>