<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edita Estudiante</title>
</head>
<body>
<h1>EDITAR ESTUDIANTE</h1>
<form th:action="@{/student/update/{name}(name=${student.getName()})}" th:object="${student}" method="post">
  <p>Nombre: <label>
    <input type="text" th:field="*{name}">
  </label></p>
  <p>Patronus: <label>
    <input type="text" th:field="*{patronus}">
  </label></p>
  <p>Casa: <label> <!--Probar a hacerlo con un bulce-->
    <select th:field="*{house}">
      <option value="" disabled selected>Selecciona una casa</option>
      <option value="Gryffindor">Gryffindor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Ravenclaw">Ravenclaw</option>
    </select>
  </label></p>

  <p>
    <input type="submit" value="Enviar">
    <input type="reset" value="Reiniciar">
  </p>
</form>
</body>
</html>